.welcome{
    padding-top: 20px;
    margin-left: 15vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.welcome h1{
    margin-left: 30px;
}
.line1{
    margin-top: -50px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.info{
    color: rgb(169, 78, 12);
    margin-top: 60px;
font-family: Arial, Helvetica, sans-serif;    
}

.video{
    margin-top: 30px;
    background-color: bisque;
    height: 40vh;
    width: 40vw;
}